<html>
<script src="../lib/jquery-2.1.3.min.js"></script>
<script src="../lib/underscore-min.js"></script>
<script src="../lib/backbone-min.js"></script>

<script type="text/template" id="search_template">
  <label>Search</label>
  <input type="text" id="search_input" />
  <input type="button" id="search_button" value="Search" />
</script>

<script type="text/javascript">
    SearchView = Backbone.View.extend({
        initialize: function(){
            this.render();
        },
        render: function(){
            var template = _.template( $("#search_template").html());
            this.$el.html( template );
        }
    });
    
    $( document ).ready(function() {
    	var search_view = new SearchView({ el: $("#search_container") });
	});
</script>

<body>
<div id="search_container"></div>
</body>
</html>